/* AddScenario.css */
.AddScenario{
    margin: 40px;
    
}
.formContainer {
   background-color: #353333;
   padding: 30px;
   height: 100px;
}

  /* Styles for form headings */
  .AddScenario  h2 {
    color: #ffffff;
    text-align: left;
  }
  
  
  
  /* Styles for labels */
  label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
  }
  .inputContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  /* Styles for input fields */
  .inputContainer  input[type="text"],
  input[type="number"] {
    width: 300px;
    height: 45px;
    padding: 10px;
    border: 2px solid #4d4c4c;
    background-color: #2b2a2a;
    border-radius: 4px;
    box-sizing: border-box;
    color: #ffffff;
  }
  ::placeholder{
    color:#4d4c4c ;
    padding: 10px;
    font-size: 16px;
    font-weight: 550;
  }
  /* Styles for error messages */
  .error-container{   
    position: absolute;
    margin-top: 5px;
    left: 8%;
    /* transform: translateX(-50%); */
    bottom: -30px; /* Adjust as needed */
    background-color: #a1312d;
    text-align: center;
    padding: 3px;
    width: 200px;
    margin: 0px auto;
    height: 15px;
  }
  .error {
   margin: -1px;
    color: #ffffff;
    font-size: 11px;
  
  }
  .error-input {
    border-color: #a1312d !important; /* Red border color */
  }
  
  .error-container::after{
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: -10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #a1312d;
    
  }
  
  /* Styles for buttons */
  .btns-container{
    margin-top: 30px;
    /* display: flex;
    flex-direction: row; */
    
  }
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Specific styles for each button based on its type */
  button[type="submit"] {
    background-color: #5cb85c;
    color: white;
    width: 90px;
    height: 38px;
    margin-right: 10px;
  }

  button[type="reset"] {
    background-color: #f0ad4e;
    color: white;
    width: 90px;
    height: 38px;
    margin: 10px;
  }
  
 .backBtn {
    background-color: #4989ff;
    color: white;
    margin: 10px;
    height: 38px;
    width: 100px;
  }
  
  /* Hover effects for buttons */
  button:hover {
    opacity: 0.9;
  }
  